.sortButton {
  display: flex;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background: none;
  font-size: 14px;
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
}

.sortButton:hover {
  background-color: #f8f9fa;
  text-decoration: none;
}
