.todoList {
  display: block;
}

.loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border: 3px solid #4e4e4e;
  border-radius: 50%;
  border-left-color: transparent;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
