.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  margin: 30px 0 0;
  padding: 6px 24px;
  border: none;
  border-radius: 6px;
  background-color: #218838;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.addButton:hover {
  background-color: #19682a;
}

.addButton:disabled {
  background-color: #cccccc;
  pointer-events: none;
}
